<launch>
    <node pkg="nodelet" type="nodelet" name="standalone_nodelet"  args="manager" output="screen"/>

    <node pkg="nodelet" type="nodelet" name="xtion_adapter" args="load pclpp_adapters/XtionAdapterNodelet standalone_nodelet" output="screen">
        <!-- <remap from="/Plus/out" to="remapped_output"/> -->
        <!-- <rosparam file="$(find nodelet_tutorial_math)/plus_default.yaml"/> -->
    </node>
    <node pkg="nodelet" type="nodelet" name="kinect1_adapter" args="load pclpp_adapters/Kinect1AdapterNodelet standalone_nodelet" output="screen">
        <!-- <remap from="/Plus/out" to="remapped_output"/> -->
        <!-- <rosparam file="$(find nodelet_tutorial_math)/plus_default.yaml"/> -->
    </node>
    <node pkg="nodelet" type="nodelet" name="kinect2_adapter" args="load pclpp_adapters/Kinect2AdapterNodelet standalone_nodelet" output="screen">
        <!-- <remap from="/Plus/out" to="remapped_output"/> -->
        <!-- <rosparam file="$(find nodelet_tutorial_math)/plus_default.yaml"/> -->
    </node>

</launch>