<launch>
    <!--
          <arg name="base_name"         default="kinect2"/>
          <arg name="sensor"            default=""/>
          <arg name="publish_tf"        default="false"/>
          <arg name="base_name_tf"      default="$(arg base_name)"/>
          <arg name="fps_limit"         default="-1.0"/>
          <arg name="calib_path"        default="$(find kinect2_bridge)/data/"/>
          <arg name="use_png"           default="false"/>
          <arg name="jpeg_quality"      default="90"/>
          <arg name="png_level"         default="1"/>
          <arg name="depth_method"      default="default"/>
          <arg name="depth_device"      default="-1"/>
          <arg name="reg_method"        default="default"/>
          <arg name="reg_device"        default="-1"/>
          <arg name="max_depth"         default="12.0"/>
          <arg name="min_depth"         default="0.1"/>
          <arg name="queue_size"        default="5"/>
          <arg name="bilateral_filter"  default="true"/>
          <arg name="edge_aware_filter" default="true"/>
          <arg name="worker_threads"    default="4"/>
          <arg name="machine"           default="localhost"/>
          <arg name="nodelet_manager"   default="$(arg base_name)"/>
          <arg name="start_manager"     default="true"/>
          <arg name="use_machine"       default="true"/>
          <arg name="respawn"           default="true"/>
          <arg name="use_nodelet"       default="true"/>
          <arg name="output"            default="screen"/>
    -->

    <arg name="remote_debug"                   default="true" />
    <arg name="xtion_adapter_launch_prefix"    if="$(arg remote_debug)"     default="gdbserver :39500" />
    <arg name="xtion_adapter_launch_prefix"    unless="$(arg remote_debug)" default="" />

    <arg name="base_name"         default="pclpp_adapters"/>
    <arg name="nodelet_manager"   default="$(arg base_name)"/>

    <node  pkg="nodelet" type="nodelet" name="$(arg nodelet_manager)"  args="manager" output="screen"/>

    <node  launch-prefix="$(arg xtion_adapter_launch_prefix)" pkg="nodelet" type="nodelet" name="xtion_adapter" args="load pclpp_adapters/XtionAdapterNodelet nodelet_manager" output="screen">
        <rosparam file="$(find pclpp_adapters)/xtion_adapter_default.yaml"/>
    </node>

    <node pkg="nodelet" type="nodelet" name="xtion_driver" args="load openni2_camera/OpenNI2DriverNodelet nodelet_manager" output="screen">
        <remap from="/depth/camera_info" to="/xtion_driver/depth/camera_info"/>
        <remap from="/depth/image" to="/xtion_driver/depth/image" />
        <remap from="/depth/image/compressed" to="/xtion_driver/depth/image/compressed" />
        <remap from="/depth/image/compressed/parameter_descriptions" to="/xtion_driver/depth/image/compressed/parameter_descriptions" />
        <remap from="/depth/image/compressed/parameter_updates" to="/xtion_driver/depth/image/compressed/parameter_updates" />
        <remap from="/depth/image/compressedDepth" to="/xtion_driver/depth/image/compressedDepth" />
        <remap from="/depth/image/compressedDepth/parameter_descriptions" to="/xtion_driver/depth/image/compressedDepth/parameter_descriptions" />
        <remap from="/depth/image/compressedDepth/parameter_updates" to="/xtion_driver/depth/image/compressedDepth/parameter_updates" />
        <remap from="/depth/image/theora" to="/xtion_driver/depth/image/theora" />
        <remap from="/depth/image/theora/parameter_descriptions" to="/xtion_driver/depth/image/theora/parameter_descriptions" />
        <remap from="/depth/image/theora/parameter_updates" to="/xtion_driver/depth/image/theora/parameter_updates" />
        <remap from="/depth/image_raw" to="/xtion_driver/depth/image_raw"/>
        <remap from="/depth/image_raw/compressed" to="/xtion_driver/depth/image_raw/compressed"/>
        <remap from="/depth/image_raw/compressed/parameter_descriptions" to="/xtion_driver/depth/image_raw/compressed/parameter_descriptions"/>
        <remap from="/depth/image_raw/compressed/parameter_updates" to="/xtion_driver/depth/image_raw/compressed/parameter_updates"/>
        <remap from="/depth/image_raw/compressedDepth" to="/xtion_driver/depth/image_raw/compressedDepth"/>
        <remap from="/depth/image_raw/compressedDepth/parameter_descriptions" to="/xtion_driver/depth/image_raw/compressedDepth/parameter_descriptions"/>
        <remap from="/depth/image_raw/compressedDepth/parameter_updates" to="/xtion_driver/depth/image_raw/compressedDepth/parameter_updates"/>
        <remap from="/depth/image_raw/theora" to="/xtion_driver/depth/image_raw/theora"/>
        <remap from="/depth/image_raw/theora/parameter_descriptions" to="/xtion_driver/depth/image_raw/theora/parameter_descriptions"/>
        <remap from="/depth/image_raw/theora/parameter_updates" to="/xtion_driver/depth/image_raw/theora/parameter_updates"/>
        <remap from="/ir/camera_info" to="/xtion_driver/ir/camera_info"/>
        <remap from="/ir/image" to="/xtion_driver/ir/image" />
        <remap from="/ir/image/compressed" to="/xtion_driver/ir/image/compressed" />
        <remap from="/ir/image/compressed/parameter_descriptions" to="/xtion_driver/ir/image/compressed/parameter_descriptions" />
        <remap from="/ir/image/compressed/parameter_updates" to="/xtion_driver/ir/image/compressed/parameter_updates" />
        <remap from="/ir/image/compressedDepth" to="/xtion_driver/ir/image/compressedDepth" />
        <remap from="/ir/image/compressedDepth/parameter_descriptions" to="/xtion_driver/ir/image/compressedDepth/parameter_descriptions" />
        <remap from="/ir/image/compressedDepth/parameter_updates" to="/xtion_driver/ir/image/compressedDepth/parameter_updates" />
        <remap from="/ir/image/theora" to="/xtion_driver/ir/image/theora" />
        <remap from="/ir/image/theora/parameter_descriptions" to="/xtion_driver/ir/image/theora/parameter_descriptions" />
        <remap from="/ir/image/theora/parameter_updates" to="/xtion_driver/ir/image/theora/parameter_updates" />
        <remap from="/rgb/camera_info" to="/xtion_driver/rgb/camera_info"/>
        <remap from="/rgb/image" to="/xtion_driver/rgb/image" />
        <remap from="/rgb/image/compressed" to="/xtion_driver/rgb/image/compressed" />
        <remap from="/rgb/image/compressed/parameter_descriptions" to="/xtion_driver/rgb/image/compressed/parameter_descriptions" />
        <remap from="/rgb/image/compressed/parameter_updates" to="/xtion_driver/rgb/image/compressed/parameter_updates" />
        <remap from="/rgb/image/compressedDepth" to="/xtion_driver/rgb/image/compressedDepth" />
        <remap from="/rgb/image/compressedDepth/parameter_descriptions" to="/xtion_driver/rgb/image/compressedDepth/parameter_descriptions" />
        <remap from="/rgb/image/compressedDepth/parameter_updates" to="/xtion_driver/rgb/image/compressedDepth/parameter_updates" />
        <remap from="/rgb/image/theora" to="/xtion_driver/rgb/image/theora" />
        <remap from="/rgb/image/theora/parameter_descriptions" to="/xtion_driver/rgb/image/theora/parameter_descriptions" />
        <remap from="/rgb/image/theora/parameter_updates" to="/xtion_driver/rgb/image/theora/parameter_updates" />
    </node>
    <!-- <remap from="/Plus/out" to="remapped_output"/> -->
    <!-- <rosparam file="$(find nodelet_tutorial_math)/plus_default.yaml"/> -->



    <node pkg="nodelet" type="nodelet" name="kinect1_adapter" args="load pclpp_adapters/Kinect1AdapterNodelet nodelet_manager" output="screen">

        <!-- <rosparam file="$(find nodelet_tutorial_math)/plus_default.yaml"/> -->
    </node>

    <!--
    <node pkg="nodelet" type="nodelet" name="kinect_driver" args="load freenect_camera/driver $(arg nodelet_manager)" output="screen">
        <remap from="/depth/camera_info" to="/kinect1_driver/depth/camera_info"/>
        <remap from="/depth/image_raw" to="/kinect1_driver/depth/image_raw"/>
        <remap from="/depth/image_raw/compressed" to="/kinect1_driver/depth/image_raw/compressed"/>
        <remap from="/depth/image_raw/compressed/parameter_descriptions" to="/kinect1_driver/depth/image_raw/compressed/parameter_descriptions"/>
        <remap from="/depth/image_raw/compressed/parameter_updates" to="/kinect1_driver/depth/image_raw/compressed/parameter_updates"/>
        <remap from="/depth/image_raw/compressedDepth" to="/kinect1_driver/depth/image_raw/compressedDepth"/>
        <remap from="/depth/image_raw/compressedDepth/parameter_descriptions" to="/kinect1_driver/depth/image_raw/compressedDepth/parameter_descriptions"/>
        <remap from="/depth/image_raw/compressedDepth/parameter_updates" to="/kinect1_driver/depth/image_raw/compressedDepth/parameter_updates"/>
        <remap from="/depth/image_raw/theora" to="/kinect1_driver/depth/image_raw/theora"/>
        <remap from="/depth/image_raw/theora/parameter_descriptions" to="/kinect1_driver/depth/image_raw/theora/parameter_descriptions"/>
        <remap from="/depth/image_raw/theora/parameter_updates" to="/kinect1_driver/depth/image_raw/theora/parameter_updates"/>
        <remap from="/depth_registered/camera_info" to="/kinect1_driver/depth_registered/camera_info"/>
        <remap from="/depth_registered/image_raw" to="/kinect1_driver/depth_registered/image_raw"/>
        <remap from="/depth_registered/image_raw/compressed" to="/kinect1_driver/depth_registered/image_raw/compressed"/>
        <remap from="/depth_registered/image_raw/compressed/parameter_descriptions" to="/kinect1_driver/depth_registered/image_raw/compressed/parameter_descriptions"/>
        <remap from="/depth_registered/image_raw/compressed/parameter_updates" to="/kinect1_driver/depth_registered/image_raw/compressed/parameter_updates"/>
        <remap from="/depth_registered/image_raw/compressedDepth" to="/kinect1_driver/depth_registered/image_raw/compressedDepth"/>
        <remap from="/depth_registered/image_raw/compressedDepth/parameter_descriptions" to="/kinect1_driver/depth_registered/image_raw/compressedDepth/parameter_descriptions"/>
        <remap from="/depth_registered/image_raw/compressedDepth/parameter_updates" to="/kinect1_driver/depth_registered/image_raw/compressedDepth/parameter_updates"/>
        <remap from="/depth_registered/image_raw/theora" to="/kinect1_driver/depth_registered/image_raw/theora"/>
        <remap from="/depth_registered/image_raw/theora/parameter_descriptions" to="/kinect1_driver/depth_registered/image_raw/theora/parameter_descriptions"/>
        <remap from="/depth_registered/image_raw/theora/parameter_updates" to="/kinect1_driver/depth_registered/image_raw/theora/parameter_updates"/>
        <remap from="/diagnostics" to="/kinect1_driver/diagnostics"/>
        <remap from="/ir/camera_info" to="/kinect1_driver/ir/camera_info"/>
        <remap from="/ir/image_raw" to="/kinect1_driver/ir/image_raw"/>
        <remap from="/ir/image_raw/compressed" to="/kinect1_driver/ir/image_raw/compressed"/>
        <remap from="/ir/image_raw/compressed/parameter_descriptions" to="/kinect1_driver/ir/image_raw/compressed/parameter_descriptions"/>
        <remap from="/ir/image_raw/compressed/parameter_updates" to="/kinect1_driver/ir/image_raw/compressed/parameter_updates"/>
        <remap from="/ir/image_raw/compressedDepth" to="/kinect1_driver/ir/image_raw/compressedDepth"/>
        <remap from="/ir/image_raw/compressedDepth/parameter_descriptions" to="/kinect1_driver/ir/image_raw/compressedDepth/parameter_descriptions"/>
        <remap from="/ir/image_raw/compressedDepth/parameter_updates" to="/kinect1_driver/ir/image_raw/compressedDepth/parameter_updates"/>
        <remap from="/ir/image_raw/theora" to="/kinect1_driver/ir/image_raw/theora"/>
        <remap from="/ir/image_raw/theora/parameter_descriptions" to="/kinect1_driver/ir/image_raw/theora/parameter_descriptions"/>
        <remap from="/ir/image_raw/theora/parameter_updates" to="/kinect1_driver/ir/image_raw/theora/parameter_updates"/>
        <remap from="/kinect_driver/parameter_descriptions" to="/kinect1_driver/kinect_driver/parameter_description"/>
        <remap from="/kinect_driver/parameter_updates" to="/kinect1_driver/kinect_driver/parameter_updates"/>
        <remap from="/projector/camera_info" to="/kinect1_driver/projector/camera_info"/>
        <remap from="/rgb/camera_info" to="/kinect1_driver/rgb/camera_info"/>
        <remap from="/rgb/image_raw" to="/kinect1_driver/rgb/image_raw"/>
        <remap from="/rgb/image_raw/compressed" to="/kinect1_driver/rgb/image_raw/compressed"/>
        <remap from="/rgb/image_raw/compressed/parameter_descriptions" to="/kinect1_driver/rgb/image_raw/compressed/parameter_descriptions"/>
        <remap from="/rgb/image_raw/compressed/parameter_updates" to="/kinect1_driver/rgb/image_raw/compressed/parameter_updates"/>
        <remap from="/rgb/image_raw/compressedDepth" to="/kinect1_driver/rgb/image_raw/compressedDepth"/>
        <remap from="/rgb/image_raw/compressedDepth/parameter_descriptions" to="/kinect1_driver/rgb/image_raw/compressedDepth/parameter_descriptions"/>
        <remap from="/rgb/image_raw/compressedDepth/parameter_updates" to="/kinect1_driver/rgb/image_raw/compressedDepth/parameter_updates"/>
        <remap from="/rgb/image_raw/theora" to="/kinect1_driver/rgb/image_raw/theora"/>
        <remap from="/rgb/image_raw/theora/parameter_descriptions" to="/kinect1_driver/rgb/image_raw/theora/parameter_descriptions"/>
        <remap from="/rgb/image_raw/theora/parameter_updates" to="/kinect1_driver/rgb/image_raw/theora/parameter_updates"/>

    </node>-->

    <!-- <remap from="/Plus/out" to="remapped_output"/> -->
    <!-- <rosparam file="$(find nodelet_tutorial_math)/plus_default.yaml"/> -->

    <node pkg="nodelet" type="nodelet" name="kinect2_adapter" args="load pclpp_adapters/Kinect2AdapterNodelet nodelet_manager" output="screen">
        <!-- <remap from="/Plus/out" to="remapped_output"/> -->
        <!-- <rosparam file="$(find nodelet_tutorial_math)/plus_default.yaml"/> -->
    </node>

    <!--
    <node pkg="nodelet" type="nodelet" name="kinect2_driver" args="load kinect2_bridge/kinect2_bridge_nodelet $(arg nodelet_manager)" output="screen">
        <remap from="/depth/camera_info" to="/kinect2_driver/depth/camera_info"/>
        <remap from="/depth/image_raw" to="/kinect2_driver/depth/image_raw"/>
        <remap from="/depth/image_raw/compressed" to="/kinect2_driver/depth/image_raw/compressed"/>
        <remap from="/depth/image_raw/compressed/parameter_descriptions" to="/kinect2_driver/depth/image_raw/compressed/parameter_descriptions"/>
        <remap from="/depth/image_raw/compressed/parameter_updates" to="/kinect2_driver/depth/image_raw/compressed/parameter_updates"/>
        <remap from="/depth/image_raw/compressedDepth" to="/kinect2_driver/depth/image_raw/compressedDepth"/>
        <remap from="/depth/image_raw/compressedDepth/parameter_descriptions" to="/kinect2_driver/depth/image_raw/compressedDepth/parameter_descriptions"/>
        <remap from="/depth/image_raw/compressedDepth/parameter_updates" to="/kinect2_driver/depth/image_raw/compressedDepth/parameter_updates"/>
        <remap from="/depth/image_raw/theora" to="/kinect2_driver/depth/image_raw/theora"/>
        <remap from="/depth/image_raw/theora/parameter_descriptions" to="/kinect2_driver/depth/image_raw/theora/parameter_descriptions"/>
        <remap from="/depth/image_raw/theora/parameter_updates" to="/kinect2_driver/depth/image_raw/theora/parameter_updates"/>
        <remap from="/depth_registered/camera_info" to="/kinect2_driver/depth_registered/camera_info"/>
        <remap from="/depth_registered/image_raw" to="/kinect2_driver/depth_registered/image_raw"/>
        <remap from="/depth_registered/image_raw/compressed" to="/kinect2_driver/depth_registered/image_raw/compressed"/>
        <remap from="/depth_registered/image_raw/compressed/parameter_descriptions" to="/kinect2_driver/depth_registered/image_raw/compressed/parameter_descriptions"/>
        <remap from="/depth_registered/image_raw/compressed/parameter_updates" to="/kinect2_driver/depth_registered/image_raw/compressed/parameter_updates"/>
        <remap from="/depth_registered/image_raw/compressedDepth" to="/kinect2_driver/depth_registered/image_raw/compressedDepth"/>
        <remap from="/depth_registered/image_raw/compressedDepth/parameter_descriptions" to="/kinect2_driver/depth_registered/image_raw/compressedDepth/parameter_descriptions"/>
        <remap from="/depth_registered/image_raw/compressedDepth/parameter_updates" to="/kinect2_driver/depth_registered/image_raw/compressedDepth/parameter_updates"/>
        <remap from="/depth_registered/image_raw/theora" to="/kinect2_driver/depth_registered/image_raw/theora"/>
        <remap from="/depth_registered/image_raw/theora/parameter_descriptions" to="/kinect2_driver/depth_registered/image_raw/theora/parameter_descriptions"/>
        <remap from="/depth_registered/image_raw/theora/parameter_updates" to="/kinect2_driver/depth_registered/image_raw/theora/parameter_updates"/>
        <remap from="/diagnostics" to="/kinect2_driver/diagnostics"/>
        <remap from="/ir/camera_info" to="/kinect2_driver/ir/camera_info"/>
        <remap from="/ir/image_raw" to="/kinect2_driver/ir/image_raw"/>
        <remap from="/ir/image_raw/compressed" to="/kinect2_driver/ir/image_raw/compressed"/>
        <remap from="/ir/image_raw/compressed/parameter_descriptions" to="/kinect2_driver/ir/image_raw/compressed/parameter_descriptions"/>
        <remap from="/ir/image_raw/compressed/parameter_updates" to="/kinect2_driver/ir/image_raw/compressed/parameter_updates"/>
        <remap from="/ir/image_raw/compressedDepth" to="/kinect2_driver/ir/image_raw/compressedDepth"/>
        <remap from="/ir/image_raw/compressedDepth/parameter_descriptions" to="/kinect2_driver/ir/image_raw/compressedDepth/parameter_descriptions"/>
        <remap from="/ir/image_raw/compressedDepth/parameter_updates" to="/kinect2_driver/ir/image_raw/compressedDepth/parameter_updates"/>
        <remap from="/ir/image_raw/theora" to="/kinect2_driver/ir/image_raw/theora"/>
        <remap from="/ir/image_raw/theora/parameter_descriptions" to="/kinect2_driver/ir/image_raw/theora/parameter_descriptions"/>
        <remap from="/ir/image_raw/theora/parameter_updates" to="/kinect2_driver/ir/image_raw/theora/parameter_updates"/>
        <remap from="/kinect_driver/parameter_descriptions" to="/kinect2_driver/kinect_driver/parameter_description"/>
        <remap from="/kinect_driver/parameter_updates" to="/kinect2_driver/kinect_driver/parameter_updates"/>
        <remap from="/projector/camera_info" to="/kinect2_driver/projector/camera_info"/>
        <remap from="/rgb/camera_info" to="/kinect2_driver/rgb/camera_info"/>
        <remap from="/rgb/image_raw" to="/kinect2_driver/rgb/image_raw"/>
        <remap from="/rgb/image_raw/compressed" to="/kinect2_driver/rgb/image_raw/compressed"/>
        <remap from="/rgb/image_raw/compressed/parameter_descriptions" to="/kinect2_driver/rgb/image_raw/compressed/parameter_descriptions"/>
        <remap from="/rgb/image_raw/compressed/parameter_updates" to="/kinect2_driver/rgb/image_raw/compressed/parameter_updates"/>
        <remap from="/rgb/image_raw/compressedDepth" to="/kinect2_driver/rgb/image_raw/compressedDepth"/>
        <remap from="/rgb/image_raw/compressedDepth/parameter_descriptions" to="/kinect2_driver/rgb/image_raw/compressedDepth/parameter_descriptions"/>
        <remap from="/rgb/image_raw/compressedDepth/parameter_updates" to="/kinect2_driver/rgb/image_raw/compressedDepth/parameter_updates"/>
        <remap from="/rgb/image_raw/theora" to="/kinect2_driver/rgb/image_raw/theora"/>
        <remap from="/rgb/image_raw/theora/parameter_descriptions" to="/kinect2_driver/rgb/image_raw/theora/parameter_descriptions"/>
        <remap from="/rgb/image_raw/theora/parameter_updates" to="/kinect2_driver/rgb/image_raw/theora/parameter_updates"/>

    </node>-->
    <!-- <remap from="/Plus/out" to="remapped_output"/> -->
    <!-- <rosparam file="$(find nodelet_tutorial_math)/plus_default.yaml"/> -->

    <!-- sd point cloud (512 x 424) -->
    <!--
    <node pkg="nodelet" type="nodelet" name="$(arg base_name)_points_xyzrgb_sd" machine="$(arg machine)"
          args="load depth_image_proc/point_cloud_xyzrgb $(arg nodelet_manager)" respawn="$(arg respawn)">
        <remap from="rgb/camera_info"             to="$(arg base_name)/sd/camera_info"/>
        <remap from="rgb/image_rect_color"        to="$(arg base_name)/sd/image_color_rect"/>
        <remap from="depth_registered/image_rect" to="$(arg base_name)/sd/image_depth_rect"/>
        <remap from="depth_registered/points"     to="$(arg base_name)/sd/points"/>
        <param name="queue_size" type="int" value="$(arg queue_size)"/>
    </node>-->

    <!-- qhd point cloud (960 x 540) -->
    <!--
    <node pkg="nodelet" type="nodelet" name="$(arg base_name)_points_xyzrgb_qhd" machine="$(arg machine)"
          args="load depth_image_proc/point_cloud_xyzrgb $(arg nodelet_manager)" respawn="$(arg respawn)">
        <remap from="rgb/camera_info"             to="$(arg base_name)/qhd/camera_info"/>
        <remap from="rgb/image_rect_color"        to="$(arg base_name)/qhd/image_color_rect"/>
        <remap from="depth_registered/image_rect" to="$(arg base_name)/qhd/image_depth_rect"/>
        <remap from="depth_registered/points"     to="$(arg base_name)/qhd/points"/>
        <param name="queue_size" type="int" value="$(arg queue_size)"/>
    </node>-->

    <!-- hd point cloud (1920 x 1080) -->
    <!--
    <node pkg="nodelet" type="nodelet" name="$(arg base_name)_points_xyzrgb_hd" machine="$(arg machine)"
          args="load depth_image_proc/point_cloud_xyzrgb $(arg nodelet_manager)" respawn="$(arg respawn)">
        <remap from="rgb/camera_info"             to="$(arg base_name)/hd/camera_info"/>
        <remap from="rgb/image_rect_color"        to="$(arg base_name)/hd/image_color_rect"/>
        <remap from="depth_registered/image_rect" to="$(arg base_name)/hd/image_depth_rect"/>
        <remap from="depth_registered/points"     to="$(arg base_name)/hd/points"/>
        <param name="queue_size" type="int" value="$(arg queue_size)"/>
    </node>-->

</launch>