<!--
1 kinect viewer par device

s'assurer qu'elle sont partis en tant que nodelet

lancer le package kinect2_viewer avec les bon PubSub pour chaque adapter

faire les pubsub des differents adapter et les nommer de facon standard
-->
<launch>
    <arg name="remote_debug"                   default="true" /
    <arg name="vtk_viewer_launch_prefix"    if="$(arg remote_debug)"     default="gdbserver :39500" />
    <arg name="vtk_viewer_launch_prefix"    unless="$(arg remote_debug)" default="" />



</launch>



